<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.BookInfoMapper">

    <resultMap type="BookInfo" id="BookInfoResult">
        <id     property="bookId"           column="book_id" />
        <result property="isbn"             column="isbn" />
        <result property="bookName"         column="book_name" />
        <result property="bookCoverImg"     column="book_cover_img" />
        <result property="author"           column="author" />
        <result property="bookDesc"         column="book_desc"    />
        <result property="ifTranslation"    column="if_translation" />
        <result property="initialTitle"     column="initial_title" />
        <result property="initialLang"      column="initial_lang" />
        <result property="translator"       column="translator" />
        <result property="lang"             column="lang"   />
        <result property="publishing"       column="publishing"    />
        <result property="publishTime"      column="publish_time"    />
        <result property="createBy"         column="create_by"    />
        <result property="createTime"       column="create_time"    />
        <result property="updateBy"         column="update_by"    />
        <result property="updateTime"       column="update_time"    />
    </resultMap>

    <sql id="selectBookInfoVo">
        select *
        from book_info
    </sql>

    <select id="selectBookInfoList" parameterType="BookInfo" resultMap="BookInfoResult">
        <include refid="selectBookInfoVo"/>
        <where>
            <if test="bookId != null and bookId != ''"> and book_id = #{bookId}</if>
            <if test="isbn != null and isbn != ''"> and isbn like concat('%', #{isbn}, '%')</if>
            <if test="bookName != null  and bookName != ''"> and book_name like concat('%', #{bookName}, '%')</if>
            <if test="author != null  and author != ''"> and author like concat('%', #{author}, '%')</if>
            <if test="initialTitle != null  and initialTitle != ''"> and initial_title like concat('%', #{initialTitle}, '%')</if>
            <if test="initialLang != null  and initialLang != ''"> and initial_lang = #{initalLang}</if>
            <if test="translator != null  and translator != ''"> and translator like concat('%', #{translator}, '%')</if>
            <if test="lang != null  and lang != ''"> and lang = #{lang}</if>
            <if test="publishing != null"> and publishing like concat('%', #{publishing}, '%')</if>
        </where>
    </select>

    <select id="selectBookInfoByBookId" parameterType="Long" resultMap="BookInfoResult">
        <include refid="selectBookInfoVo"/>
        where book_id = #{bookId};
    </select>

    <insert id="insertBookInfo" parameterType="BookInfo" useGeneratedKeys="true" keyProperty="bookId">
        insert into book_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isbn != null and isbn != ''">isbn,</if>
            <if test="bookName != null and bookName != ''">book_name,</if>
            <if test="bookCoverImg != null and bookCoverImg != ''">book_cover_img,</if>
            <if test="author != null and author != ''">author,</if>
            <if test="bookDesc != null and bookDesc != ''">book_desc,</if>
            <if test="ifTranslation != null">if_translation,</if>
            <if test="initialTitle != null">initial_title,</if>
            <if test="initialLang != null">initial_lang,</if>
            <if test="translator != null">translator,</if>
            <if test="lang != null">lang,</if>
            <if test="publishing != null and publishing != ''">publishing,</if>
            <if test="publish_time != null and publish_time != ''">publish_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isbn != null and isbn != ''">#{isbn},</if>
            <if test="bookName != null and bookName != ''">#{bookName},</if>
            <if test="bookCoverImg != null and bookCoverImg != ''">#{bookCoverImg},</if>
            <if test="author != null and author != ''">#{author},</if>
            <if test="bookDesc != null and bookDesc != ''">#{bookDesc},</if>
            <if test="ifTranslation != null">#{ifTranslation},</if>
            <if test="initialTitle != null">#{initialTitle},</if>
            <if test="initialLang != null">#{initialLang},</if>
            <if test="translator != null">#{translator},</if>
            <if test="lang != null">#{lang},</if>
            <if test="publishing != null and publishing != ''">#{publishing},</if>
            <if test="publish_time != null and publish_time != ''">#{publishTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateBookInfo" parameterType="BookInfo">
        update book_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="isbn != null and isbn != ''">isbn = #{isbn},</if>
            <if test="bookName != null and bookName != ''">book_name = #{bookName},</if>
            <if test="bookCoverImg != null and bookCoverImg != ''">book_cover_img = #{bookCoverImg},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="bookDesc != null and bookDesc != ''">book_desc = #{bookDesc},</if>
            <if test="ifTranslation != null">if_translation = #{ifTranslation},</if>
            <if test="initialTitle != null">initial_title = #{initialTitle},</if>
            <if test="initialLang != null">initial_lang = #{initialLang},</if>
            <if test="translator != null">translator = #{translator},</if>
            <if test="lang != null">lang = #{lang},</if>
            <if test="publishing != null and publishing != ''">publishing = #{publishing},</if>
            <if test="publish_time != null and publish_time != ''">publish_time = #{publishTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where book_id = #{bookId}
    </update>

    <delete id="deleteBookInfoByBookId" parameterType="Long">
        delete from book_info where book_id = #{bookId}
    </delete>

    <delete id="deleteBookInfoByBookIds" parameterType="String">
        delete from book_info where book_id in
        <foreach item="bookId" collection="array" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </delete>
</mapper>