<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.PdInfoMapper">

    <resultMap type="PdInfo" id="PdInfoResult">
        <id     property="pdId"             column="pd_id" />
        <result property="ownerId"          column="owner_id" />
        <result property="storeId"          column="store_id" />
        <result property="bookId"           column="book_id" />
        <result property="pdNum"            column="pd_num" />
        <result property="price"            column="price"    />
        <result property="createBy"         column="create_by"    />
        <result property="createTime"       column="create_time"    />
        <result property="updateBy"         column="update_by"    />
        <result property="updateTime"       column="update_time"    />
        <association property="bookInfo"  javaType="BookInfo" resultMap="BookInfoResult" />
    </resultMap>

    <resultMap type="BookInfo" id="BookInfoResult">
        <id     property="bookId"           column="book_id" />
        <result property="isbn"             column="isbn" />
        <result property="bookName"         column="book_name" />
        <result property="bookCoverImg"     column="book_cover_img" />
        <result property="author"           column="author" />
        <result property="bookDesc"         column="book_desc"    />
        <result property="ifTranslation"    column="if_translation" />
        <result property="initialTitle"     column="initial_title" />
        <result property="initialLang"      column="initial_lang" />
        <result property="translator"       column="translator" />
        <result property="lang"             column="lang"   />
        <result property="publishing"       column="publishing"    />
        <result property="publishTime"      column="publish_time"    />
    </resultMap>

    <sql id="selectPdInfoVo">
        select a.*, b.book_id, b.isbn, b.book_name, b.book_cover_img, b.author, b.book_desc, b.if_translation, b.initial_title, b.initial_lang, b.translator, b.lang, b.publishing, b.publish_time
        from pd_info a left join book_info b on a.book_id = b.book_id
    </sql>

    <select id="selectPdInfoList" parameterType="PdInfo" resultMap="PdInfoResult">
        <include refid="selectPdInfoVo"/>
        <where>
            <if test="pdId != null and pdId != ''"> and pd_id = #{pdId}</if>
            <if test="ownerId != null and ownerId != ''"> and owner_id = #{ownerId}</if>
            <if test="storeId != null  and storeId != ''"> and store_id = #{storeId}</if>
            <if test="bookId != null  and bookId != ''"> and book_id = #{bookId}</if>
            <if test="pdNum != null  and pdNum != ''"> and pd_num = #{pdNum}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
        </where>
    </select>

    <select id="selectPdInfoByPdId" parameterType="Long" resultMap="PdInfoResult">
        <include refid="selectPdInfoVo"/>
        where pd_id = #{pdId};
    </select>

    <insert id="insertPdInfo" parameterType="PdInfo" useGeneratedKeys="true" keyProperty="pdId">
        insert into pd_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ownerId != null and ownerId != ''">owner_id,</if>
            <if test="storeId != null  and storeId != ''">store_id,</if>
            <if test="bookId != null  and bookId != ''">book_id,</if>
            <if test="pdNum != null  and pdNum != ''">pd_num,</if>
            <if test="price != null  and price != ''">price,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ownerId != null and ownerId != ''">#{ownerId},</if>
            <if test="storeId != null  and storeId != ''">#{storeId},</if>
            <if test="bookId != null  and bookId != ''">#{bookId},</if>
            <if test="pdNum != null  and pdNum != ''"> #{pdNum},</if>
            <if test="price != null  and price != ''">#{price},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updatePdInfo" parameterType="PdInfo">
        update pd_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="pdId != null and pdId != ''">pd_id = #{pdId},</if>
            <if test="ownerId != null and ownerId != ''">owner_id = #{ownerId},</if>
            <if test="storeId != null  and storeId != ''">store_id = #{storeId},</if>
            <if test="bookId != null  and bookId != ''">book_id = #{bookId},</if>
            <if test="pdNum != null  and pdNum != ''">pd_num = #{pdNum},</if>
            <if test="price != null  and price != ''">price = #{price},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where pd_id = #{pdId}
    </update>

    <delete id="deletePdInfoByPdId" parameterType="Long">
        delete from pd_info where pd_id = #{pdId}
    </delete>

    <delete id="deletePdInfoByBookIds" parameterType="String">
        delete from pd_info where pd_id in
        <foreach item="pdId" collection="array" open="(" separator="," close=")">
            #{pdId}
        </foreach>
    </delete>
</mapper>